<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">SESSION AUTHENTICATED</h1>
      <p class="secret-text">Secure tracking cookie detected. Welcome to the underground mainframe network.</p>
      <hr>
      <a class="btn btn-light btn-dark" href="/logout" role="button">LOGOUT SESSION</a>
    </div>
  </div>

<%- include('partials/footer') %>
