<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-heart fa-6x" style="color: #000000; -webkit-text-stroke: 2px #4af626; filter: drop-shadow(0 0 10px #4af626);"></i>
      <h1 class="display-3">ACCESS GRANTED</h1>
      <p class="secret-text">The secret to a perfect weekend is completely turning off your phone notifications until Monday morning rolls around.</p>
      <hr>
      <a class="btn btn-light btn-dark" href="/logout" role="button">TERMINATE LINK</a>
    </div>
  </div>

  <%- include('partials/footer') %>
