body {
  background-color: #ffffff;
  font-family: sans-serif;
  color: #333;
}

.secret-text {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ddd;
}

.btn {
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #add8e6;
  border: none;
  color: #333;
}

.btn:hover {
  background-color: #add8e6;
  color: #333;
}