<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tania's Personal DevLog 🚀</title>
  
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/" class="logo">Tania's Personal DevLog 🚀</a>
      <div class="nav-links">
        <a href="/">All Entries</a>
        <a href="/create" class="btn-nav">Compose Entry</a>
      </div>
    </nav>
  </header>
  <main class="container">
